/*===GOOGLE FONT ===*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
$header-height: 3rem;
/*=== VARIABLES  CSS ===*/
:root{
    --font-semi: 600;
    --font-bold: 700;
    /*=== COLOR ===*/
    --first-color: #E55947;
    --first-color-alt: #d2321E;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;
    /*===FONT AND TYPOGRAPHY ===*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    /*=== Z index ===*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
    :root {
      --big-font-size: 6rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --small-font-size: .813rem;
    }
}
/*=== BASE ===*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin-top: $header-height;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.6;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*=== SECTION ===*/
.section{
    padding: 3rem 0;
    &-title{
        font-size: var(--h2-font-size);
        color: var(dark-color);
        margin: var();
        text-align: center;
    }
    &-all{
        display: block;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi);
        color: var(--dark-color);
        text-align: center;
    }
}
/*=== LAYOUT ===*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}
.nav{
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item{
        margin-bottom: 2rem;
    }
    &__link{
        color: var(--dark-color);
        font-weight: var(--font-semi);
        &:hover{
            color: var(--first-color);
        }
    }
    &__logo{
        font-weight: var(--font-bold);
    }
    &__cart{
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/*=== HOME ===*/
.home{
    background-color: var(--gray-color);
    &__container{
        height: calc(100vh - 3rem);
    }
    &__data{
        padding-top: 6rem;
    }
    &__title{
        align-self: center;
        font-size: var(--big-font-size);
        line-height: 1;
        letter-spacing: .5rem;
        margin-bottom: 4rem;
    }
    &__title span{
        font-size: var(--h1-font-size);
    }
    &__img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 260px;
    }
}
/*=== COLLECTION ===*/
.collection{
    &__container{
        row-gap: 2rem;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 1.5rem;
        background-color: var(--gray-color);
        transition:  .3s;
        &:hover{
            transform: translateY(-.5rem);
        }
    }
    &__img{
        width: 100px;
    }
    &__title{
        font-size: var(--h1-font-size);
        text-transform: uppercase;
        margin-bottom: 1rem;
        line-height: 1.2;
        font-weight: var(--font-semi);
    }
    &__subtitle{
        font-size: var(--h2-font-size);
        color: var(--dark-color);
    }
    &__view{
        font-size: var(--small-font-size);
        color: var(--dark-color-light);
        &:hover{
            text-decoration: underline;
        }
    }
}
/*=== FEATURED ===*/
.featured{
    &__container{
        row-gap: 2rem;
    }
    &__product{
        transition: .4s;
        &:hover{
            transform: translateY(-.5rem);
        }
    }
    &__box{
        position: relative;
        display: flex;
        background-color:var(--gray-color);
        justify-content: center;
    }
    &__new{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--first-color);
        color: var(--white-color);
        font-size: var(--normal-font-size);
        padding: .3rem .75rem;
    }
    &__data{
        text-align: center;
    }
    &__name{
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: var(--normal-font-size);
    }
    &__price{
        color: var(--dark-color);
        font-weight: var(--font-semi);
    }
}
/*=== OFFER ===*/
.offer{
    &__bg{
        background: url('../images/offer.jpg') no-repeat center/cover;
        text-align: center;
    }
    &__data{
        padding: 3.5rem .25rem;
        background-color: rgba(0,0,0,.5);
        color: var(--white-color);
    }
    &__title{
        font-size: var(--h1-font-size);
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-weight: var(--font-semi);
    }
    &__description{
        margin-bottom: 1rem;
        letter-spacing: .2rem;
    }
}
/*===NEW ARRIVALS ===*/
.new{
    &__container{
        row-gap: 2rem;
    }
    &__box{
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--gray-color);
        overflow: hidden;
        &:hover .new__link{
            bottom: 0%;
        }
    }
    &__link{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(229,89,71,.2);
        transform: .3s;

    }


}
/*=== NEWSLETTER ===*/
.newsletter{
    text-align: center;
    &__description{
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
        color: var(--dark-color-light);
    }
    &__form{
        display: grid;
        grid-template-columns: 1fr .5fr;
    }
    &__input{
        outline: none;
        border: none;
        background-color: var(--gray-color);
        padding: 0 1rem;
    }
}
/*===  SPONSORS ===*/
.sponsors{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        padding: 1.5rem 0;
    }
    &__logo{
        display: flex;
        justify-content: center;
        img{
            width: 80px;
            filter: opacity(70%);
            &:hover{
                filter: none;
            }
        }
    }    
}
/*=== FOOTER ===*/
.footer{
    background-color: var(--dark-color);
    color: var(--white-color);
    &__container{
        row-gap: 1.5rem;
        margin-bottom: 2rem;
    }
    &__title{
        margin-bottom: .5rem;
    }
    &__deal{
        margin-bottom: 1rem;
    }
    &__store{
        width: 100px;
    }
    &__link{
        color: var(--dark-color-light);
        &:hover{
            text-decoration: underline;
        }
    }
    &__social{
        color: var(--dark-color-light);
        font-size: 1.3rem;
        margin-right: .5rem;
    }
    &__copy{
        border-top: 1px solid var(--dark-color-light);
        padding-top: 3rem;
        text-align: center;
        color: var(--dark-color-light);
        font-size: var(--small-font-size);
    }
}

/*===BUTTON===*/
.button{
    display: inline-block;
    background: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .4s;
    &:hover{
        background: var(--first-color-alt);
    }
}

/*=== ACTIVE ===*/
.active{
    color: var(--first-color);
}
@media (max-width: 768px){
    .nav{
        &__menu{
            position: fixed;
            top: $header-height;
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background-color: var(--white-color);
            transition: .5s;
            &-show{
                right: 0%;
            }
        }
    }
}

@media (min-width: 768px){
    body{
        margin: 0;
    }
    .section-all{
        margin-bottom: 2rem;
    }
    .nav{
        height: calc(3rem + 1rem);
        justify-content: inherit;
        &__menu{
            margin-left: auto;
        }
        &__list{
            display: flex;
        }
        &__item{
            margin-left: 2rem;
            margin-bottom: 0;
        }
        &__toggle{
            display: none;
        }
    }
    .home{
        &__container{
            height: 100vh;
        }
        &__data{
            padding: 0;
            height: max-content;
            align-self: center;
        }
        &__title{
            line-height: .8;
            letter-spacing: 1.5rem;
        }
        &__img{
            width: 370px;
        }
    }
    .collection{
        &__container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        &__box{
            padding: .5rem 3rem 0;
        }
        &__img{
            width: 130px;
        }
    }
    .featured{
        &__container{
            grid-template-columns: repeat(4, 1fr);
        }
        &__data{
            padding: 5rem 00;
        }
    }
    .new{
        &__container{
            grid-template-columns: repeat(3 ,1fr);
        }
        &__form{
            width: 400px;
            margin: 0 auto;
        }
    }
    .sponsors{
        &__container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .footer{
        &__container{
            grid-template-columns: repeat(4, 1fr);
            padding: 2rem 0;
        }
    }
}
@media (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home{
        &__data{
            padding-left: 7rem;
        }
        &__img{
            right: 15%;
        }
    }
}