/*===GOOGLE FONT ===*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*=== VARIABLES  CSS ===*/
:root {
  --font-semi: 600;
  --font-bold: 700;
  /*=== COLOR ===*/
  --first-color: #E55947;
  --first-color-alt: #d2321E;
  --white-color: #FAFAFF;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #F0F1F3;
  /*===FONT AND TYPOGRAPHY ===*/
  --body-font: 'Open Sans', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  /*=== Z index ===*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}

/*=== BASE ===*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 3rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*=== SECTION ===*/
.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(dark-color);
  margin: var();
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color);
  text-align: center;
}

/*=== LAYOUT ===*/
.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__logo {
  font-weight: var(--font-bold);
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== HOME ===*/
.home {
  background-color: var(--gray-color);
}

.home__container {
  height: calc(100vh - 3rem);
}

.home__data {
  padding-top: 6rem;
}

.home__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}

.home__title span {
  font-size: var(--h1-font-size);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

/*=== COLLECTION ===*/
.collection__container {
  row-gap: 2rem;
}

.collection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 1.5rem;
  background-color: var(--gray-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.collection__box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.collection__img {
  width: 100px;
}

.collection__title {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: var(--font-semi);
}

.collection__subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
}

.collection__view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.collection__view:hover {
  text-decoration: underline;
}

/*===BUTTON===*/
.button {
  display: inline-block;
  background: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  -webkit-transition: .4s;
  transition: .4s;
}

.button:hover {
  background: var(--first-color-alt);
}

/*=== ACTIVE ===*/
.active {
  color: var(--first-color);
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav__menu-show {
    right: 0%;
  }
}
