/* === GOOGLE FONT === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,::before,::after{
    box-sizing: border-box;
}
/* === VARIABLES CSS === */
:root{
    --header-height: 3rem;
    /* Colors */
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --body-color: #FBFEFD;
    --container-color: #fff;

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --biggest-font-size: 2.25rem;
    @media screen and (min-width: 768px){
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* Z index */
    --z-fixed: 100;
    --z-tooltip: 10;
}
/*=== VARIABLES DARK THEME ===*/
body.dark-theme{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
}
/* BUTTON DARK/LIGHT */
.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}
/* === BASE === */
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin-top: var(--header-height);
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    transition: .4s;
}
h1,h2,h3,ul,p{
    margin: 0;
}
ul,li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* === CLASS CSS === */
.section{
    padding: 4rem 0 2rem;
    &-title, &-subtitle{
        text-align: center;
    }
    &-title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: 1.5rem;
    }
    &-subtitle{
        display: block;
        color: var(--first-color);
        font-weight: var(--font-medium);
        margin-bottom: .5rem;
    }
}
/* === LAYOUT ===  */
.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    transition: .4s;
    &__scroll{
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
}
/* === NAV === */
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        color: var(--first-color);
        font-weight: var(--font-medium);
        &:hover{
            color: var(--first-color-alt);
        }
    }
    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 1rem;
            text-align: center;
            background-color: var(--body-color);
            transition: .4s;
            box-sizing: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
            &-show{
                top: var(--header-height);
            }
        }
    }
    &__item{
        margin-bottom: 1rem;
        color: var(--title-color);
        font-weight: var(--font-medium);
    }
    &__item:last-child{
        margin-bottom: 0;
    }
    &__link{
        color: var(--text-color);
        transition: .4s;
        &:hover{
            color: var(--first-color);
        }
        &-active{
            color: var(--first-color);
        }
    }
    &__toggle{
        font-size: 1.3rem;
        cursor: pointer;
        z-index: var(--z-fixed);
    }
}

/* === HOME === */
.home{
    &__container{
        height: calc(100vh - var(--header-height));
        align-items: center;
    }
    &__title{
        font-size: var(--biggest-font-size);
        color: var(--first-color);
        margin-bottom: 0.5rem;
    }
    &__subtitle{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: 2rem;
    }
    &__img{
        width: 300px;
        justify-self: center;
    }
}
/* === BUTTON === */
.button{
    background: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .4s;
    display: inline-block;
    &:hover{
        background: var(--first-color-alt);
    }

}
/* === ABOUT === */
.about{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: 1.5rem;
    }
    &__img{
        width: 280px;
        border-radius: .5rem;
        justify-self: center;
    }
}

/* SERVICES */
.services{
    &__container{
        row-gap: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    &__content{
        text-align: center;
    }
    &__img{
        width: 64px;
        height: 64px;
        fill: var(--first-color-alt);
        margin-bottom: .5rem;
    }
    &__description{
        padding: 0 1.5rem;
    }
}
/* === MENU === */
.menu{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--container-color);
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
        padding: .75rem;
    }
    &__img{
        width: 100px;
        align-self: center;
        margin-bottom: 1rem;
    }
    &__name, &__price{
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__name{
        font-size: var(--normal-font-size);
    }
    &__price{
        font-size: var(--small-font-size);
    }
    &__detail{
        margin-bottom: .5rem;
        font-size: var(--small-font-size);
    }
    &__button{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        font-size: 1.25rem;
        padding: .625rem .813rem;
        border-radius: .5rem 0 .5rem 0;
    }
}
/* === APP === */
.app{
    &__data{
        text-align: center;
    }
    &__description{
        margin-bottom: 2.5rem;
    }
    &__stores{
        margin-bottom: 2rem;
    }
    &__store{
        width: 120px;
        margin: 0 .5rem;
    }
    &__img{
        width: 230px;
        justify-self: center;
    }
}
/*==== CONTACT ====*/
.contact{
    &__container{
        text-align: center;
    }
    &__description{
        margin-bottom: var(--mb-3);
    }
}
/*=== FOOTER ===*/
.footer{
    &--container{
        grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
        row-gap: 2rem;
    }
    &__logo{
        font-size: var(--h3-font-size);
        color: var(--first-color);
        font-weight: var(--font-semi-bold);
    }
    &__description{
        display: block;
        font-size: var(--small-font-size);
        margin: .25rem 0 1.5rem;
    }
    &__social{
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: 1rem;
    }
    &__social:last-child{
        margin-right: 0;
    }
    &__title{
        font-size: 1.5rem;
        color: var(--title-color);
        margin-right: 1.5rem;
    }
    &__link{
        display: inline-block;
        color: var(--text-color);
        margin-bottom: .5rem;
        transition: .4s;
        &:hover{
            color: var(--first-color);
        }
    }
    &__link:last-child{
        margin-bottom: none;
    }
    &__copy{
        text-align: center;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-top: 3.5rem;
    }
}
/* === SCROLL TOP === */
.scroll__top{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
    &:hover{
        background-color: var(--first-color-alt);
    }
    &-icon{
        font-size: 1.8rem;
        color: var(--body-color);
    }
    &-show{
        visibility: visible;
        bottom: 1.5rem;
    }
}

/* === MEDIA QUERIES === */
@media screen and(min-width: 576px){
    .home__container,
    .about__container,
    .app__container,
    .contact__initial{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .about__data,
    .about__initial,
    .app__data,
    .app__initial,
    .contact__container{
        text-align: initial;
    }
    .about__img, .app__img{
        order: -1;
    }
    .contact{
        &__container{
            grid-template-columns: 1.75fr 1fr;
            align-items: center;
        }
        &__button{
            justify-self: center;
        }
    }
}
@media screen and(min-width: 768px){
    body{
        margin-top: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        &__list{
            display: flex;
        }
        &__item{
            margin-left: 2.5rem;
            margin-bottom: 0;
        }
        &__toggle{
            display: none;
        }
    }
    .home__container{
        height: 100vh;
        justify-items: center;
    }
    .menu{
        &__container{
            margin-top: 3rem;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 4rem;
        }
        &__content{
            padding: 1.5rem;
        }
        &__img{
            width: 130px;
        }
    }
    .app__store{
        margin: 0 .5rem 0 0;
    }
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .change-theme{
        position: initial;
        margin-left: 1rem;
    }
}
@media screen and (min-width: 960px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
    .home__img{
        width: 500px;
    }
    .about__container, .app__container{
        column-gap: 7rem;
    }
}